.primary{
  height: 49px;
  padding: 0px 24px;
  border-radius: 10px;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0.16px;
  background-color: var(--primary);
}